body {
	padding:0px; margin:0px;
	background-image:url("Granite.jpg");
	background-attachment: fixed;
	-webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
#navbox {
	
}
#headerpic {
	align:middle;
	background-color:#000000;
	margin:0px;
	text-align: center;
}
#innernav {
	float:left;
	text-align:center;
	width:13.33%;
	background-color:#000000;
	
}
#meat {
	position:absolute;
	width:80%;
	left: 10%;
	right: 10%;
	
}