body {
	padding:0px; margin:0px;
	background-color:#D8D8D8;
	background-attachment: fixed;
	-webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
	min-height:100%
}
#navbox {
	
}
#headerpic {
	align:middle;
	background-color:#000000;
	margin:0px;
	text-align: center;
}
#innernav {
	float:left;
	text-align:center;
	width:16.66%;
	background-color:#000000;
	
}
#meat {
	position:absolute;
	width:80%;
	left: 10%;
	right: 10%;
	
	
}
#footer {
	position: fixed;
	width:100%;
	height: 10%;
	bottom:0;
	background-color:#000000;
}