body {
	padding:0px; margin:0px;
}
#navbox {
	float:left;
	
}
#headerpic {
	align:middle;
	background-color:#000000;
	margin:0px;
	text-align: center;
}
#innernav {
	float:left;
}
#meat {
	margin: 0 auto;
	position:absolute;
	left:50%;
}